body {
    font-size: 32px;
    font-family: sans-serif;
}
header {
    text-align: center;
    color: #FFFF00;
    text-shadow: 1px 1px 2px #000;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.left-container {
    width: 500px;
    height: 500px;
}
.right-container {
    width: 500px;
    height: 500px;
    text-align: center;
}
#grid-container table {
    border-collapse: collapse;
}
#grid-container table td{
    width: 100px;
    height: 100px;
    border: 1px solid #000;
    text-align: center;
    font-size: 64px;
}
#bingoNumber {
    width: 200px;
    height: 200px;
    font-size: 128px;
    padding: 4px;
    border: 1px solid #000;
    margin: auto;
}