body {
    font-size: 32px;
    font-family: sans-serif;
    position: relative;
}
header {
    text-align: center;
    color: #FFFF00;
    text-shadow: 1px 1px 2px #000;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.left-container {
    width: 600px;
    height: 600px;
}
.right-container {
    width: 600px;
    height: 600px;
    text-align: center;
}
#grid-container table {
    border-collapse: collapse;
    margin: auto;
}
#grid-container table td{
    width: 100px;
    height: 100px;
    border: 1px solid #000;
    text-align: center;
    font-size: 64px;
}
#bingoNumber {
    width: 200px;
    height: 200px;
    font-size: 128px;
    padding: 4px;
    border: 1px solid #000;
    margin: auto;
}
#bingoButton {
    width: 400px;
    height: 100px;
    font-size: 32px;
    margin-top: 20px;
    border-radius: 60px;
}
#bingo {
    position: absolute;
    font-size: 500px;
    pointer-events: none;
    transform: rotate(20deg);
}
#resetButton {
    width: 200px;
    height: 50px;
    font-size: 24px;
    margin-top: 20px;
    border-radius: 60px;
}